In [24]:
import pandas as pd

data = pd.read_csv("company.csv")

In [46]:
data.shape

(107, 5)

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 2 to 147
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Organization  107 non-null    object
 1   Age           107 non-null    float64
 2   Salary        107 non-null    float64
 3   Place         107 non-null    object
 4   Country       107 non-null    object
dtypes: float64(2), object(3)
memory usage: 5.0+ KB

In [48]:
data.rename(columns={"Company":"Organization"}, inplace = True)

In [53]:
data["Country"].value_counts()

India    107
Name: Country, dtype: int64

In [50]:
data.dropna(subset=["Organization"], inplace = True)

In [51]:
data["Age"].fillna(data["Age"].median(), inplace = True)

In [52]:
data.dropna(subset=["Place"], inplace = True)

In [54]:
data_Org = pd.get_dummies(data["Organization"])

In [56]:
data_new = pd.concat([data_Org,data[["Age","Salary"]]], axis = 1)

In [57]:
data_new

,CTS,Congnizant,Infosys,Infosys Pvt Lmt,TCS,Tata Consultancy Services,Age,Salary
2,0,0,0,0,1,0,35.0,2300.0
3,0,0,1,0,0,0,40.0,3000.0
4,0,0,0,0,1,0,23.0,4000.0
5,0,0,1,0,0,0,33.0,5000.0
6,0,0,0,0,1,0,33.0,6000.0
...,...,...,...,...,...,...,...,...
143,0,0,0,0,1,0,33.0,9024.0
144,0,0,1,0,0,0,22.0,8787.0
145,0,0,1,0,0,0,44.0,4034.0
146,0,0,0,0,1,0,33.0,5034.0
147,0,0,1,0,0,0,22.0,8202.0

In [58]:
X = data_new.drop(columns="Salary")
y = data_new["Salary"]

In [61]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.3, random_state = 6)


train_X

data.shape

train_X.shape, test_X.shape, train_y.shape, test_y.shape

((74, 7), (33, 7), (74,), (33,))

In [62]:
model = LinearRegression()

model.fit(train_X, train_y)

LinearRegression()

In [66]:
model.intercept_

5321.166949307107

In [67]:
model.coef_

array([-1018.45312282, -2810.30539967,  -631.18770546,  2467.31138329,
        -434.95766233,  2427.592507  ,    19.23356593])

In [68]:
pred_train = model.predict(train_X)
pred_test = model.predict(test_X)

In [69]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

print("Train - MSE",mean_squared_error(train_y, pred_train))

print("Test - MSE",mean_squared_error(test_y, pred_test))

print("Train - MAE",mean_absolute_error(train_y, pred_train))

print("Test - MAE",mean_absolute_error(test_y, pred_test))

print("Train - R2 Score",r2_score(train_y, pred_train))

print("Test - R2 Score",r2_score(test_y, pred_test))

Train - MSE 6194278.895361127
Test - MSE 5479331.278805169
Train - MAE 2100.683985029727
Test - MAE 2040.5373947009577
Train - R2 Score 0.0773381513165442
Test - R2 Score -0.0635432584386959